.app-header {
  color: whitesmoke;
  background-color: rgb(53, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 100px;
}
.main-menu a {
  color: whitesmoke;
}
.main-menu a:last-child {
  margin-inline-end: 5px;
}
.about-img {
  width: 600px;
  margin: auto;
}
.about-header,
.home-header {
  text-align: center;
}
